.formStyle {
  padding: 10px 0px 10px 0px;
}

.spaceBetweenFields {
  padding: 10px 0px 10px 0px;
}

.moreSpaceBetweenFields {
  padding: 25px 0px 10px 0px;
}

.addTitle {
  font-size: 25px;
}

.addPackageContainer {
  width: 100%;
  padding-left: 50px;
  padding-right: 50px;
}

.innerAddPackageContainer {
  max-width: 1280px;
  margin: 0 auto;
}
