.inProgressRow {
  background-color: #e8f5e9;
}

.deliveredRow {
  background-color: #e8eaf6;
}

.tableCell {
  font-weight: 1000;
  white-space: nowrap;
  align-items: center;
}

.tableContainer {
  table-layout: fixed;
  max-width: 1280px;
}